<form id="search_field">
  <label><%= @challenge.name%></label> 
  <label>Search for Songs</label>
  <div id="search_songs" data-id="<%= @challenge.id %>">  
    <%= text_field_tag :search_song %>  
    <input name="commit" type="submit" id="submit_song_search" value="Search" />
  </div>
</form><br>

<div id="results_form"></div>
<div id="preview"></div>