<%= form_tag('/challenges/:id/songs/song_results', method: 'get') %> 
  <label><%= @challenge.name%></label>
 
    <label>Search for Songs</label>
      <div id="search_songs">  
        <%= text_field_tag :search_song, :placeholder => "Search by Song" %>  
        <!-- <input type="text" name="search_song" placeholder="Search By Artist, Song, or Album"> --> 
        <%= submit_tag %> 
      </div>
    <!-- <button id="search_song">I'M DONE</button> -->
