<form>
  <label><%= @challenge.name%></label>
 
    <label>Search for Songs</label>
      <div id="search_songs" name="<%=@challenge.id%>">   
        <input type="text" name="search_song" placeholder="Search By Artist, Song, or Album"> </input>
        <button id="submit_song_search">SEARCH</button>
      </div>
    <!--<button id="search_song">I'M DONE</button> -->
</form>