<h3>Your Challenge list:</h3>
<% if @challenge.songs.count == 0 %>
    <h4> Well dang! It looks like you haven't added anything yet. You best git to searchin' right away! </h4>
<% else %>   
    <ul>
    <% @challenge.songs.each do |song| %> 
      <li> <%= song.name %> </li>  
  <% end %> 
  </ul>
<% end%> 
<%= link_to "I'm done!", invite_friends_path(@challenge), :class => "button radius" %> 