
  <h1><%= @challenge.name%></h1>
    <h2>Add Songs to Your Challenge</h2>
      <div id="search_songs">   
        <input type="text" name="search_song" placeholder="Search By Artist, Song, or Album"> 
        <button id="submit_song_search">SEARCH</button>
      </div>
    <button id="search_song">I'M DONE</button>

