<%= form_for(@challenge) do |f| %> 

<%= f.text_field :name %>
<%= f.select(:difficulty, options_for_select([['Easy as pie', 1], ['Medium', 2], ['Hard as Sh*t', 3]])) %> 

<label>Add songs</label>
  <fieldset id="songs">
  <div class="songs">   
    <input type="text" name="song[]"%> <button class="remove">x</button>
        
    <button id="add_song">add songs</button>
      </div>
  </fieldset> 
<%= f.submit %> 
<% end %> 