<form action: 'search_songs_path' method: 'post'> 
  <label><%= @challenge.name%></label>
 
    <label>Search for Songs</label>
      <div id="search_songs">   
        <input type="text" name="search_song" placeholder="Search By Artist, Song, or Album"> 
        <%f.submit, "SEARCH" %> 
      </div>
    <!-- <button id="search_song">I'M DONE</button> -->

</form> 

