
  <div class= "small-11 small-centered columns">

  <!-- overall top row -->
  <br><br> 
  <div class="row">
    <div class= "small-9 columns">
      <h1 style="font-family: Arbutus"> Howdy Partner!</h1>
      <h3> I reckon' yer a music buff? Show me what ya' got! <br>
      Choose a challenge and identify the song name based on the sample you hear. <br> 
      We've rangled up some of the hardest challenges out there, <br> 
      So giddy up cowboy, it's the Wild Wild West out here! </h3> 
    </div>
    <div class= "small-2 columns">
      <%= image_tag("singingtaco.png") %>
    </div>
  </div>

  <!-- buttons row --> 
  <div class="row">
    <div class= "small-8 columns">
    <%= link_to "Giddy up then!", challenges_path, :class => "button [radius round]" %>  
    <%= link_to "I can do better!", new_challenge_path, :class => "button [small][radius round]" %>  <br> 
    </div>
    <div class="small-3 columns"></div>
  </div>
</div>
