<h2> WELCOME TO TACOPELLA! CHALLENGE YOUR FRIENDS AND BE AWESOME </h2> 

<h3> What do you want to do? </h3> 
<%= link_to "Play a challenge, dude", challenges_path %> <br> 
<%= link_to "Make a challenge", new_challenge_path %> <br> 