<div class= "small-12 small-centered columns">

<!-- overall top row -->
<br>
<div class="row">
  <div class= "small-7 columns">
    <h1 style="font-family: Arbutus"> Howdy Partner!</h1>
    <h3 class="welcome-message"> I reckon' yer a music buff? Show me what ya' got!<br>
    <strong>★1. Choose a challenge <br>
    2. Identify the song's name based on the clip you hear <br> 
    3. Create yer own challenges and send them to yer friends ★</strong> <br>  
    We've rangled up some of the hardest challenges out there,
    so giddy up cowboy! It's the Wild Wild West out here! </h3> 
    <br> 
    <%= link_to "▶ Play Challenges", challenges_path, :class => "button radius" %>  
    <%= link_to "Create Challenge", new_challenge_path, :class => "button radius" %> 
  </div>
  <div class= "small-5 columns">
    <%= image_tag("singingtaco.png") %>
  </div>
</div>

