<div class= "small-9 small-centered columns">
  <div class="row">
      <h3 style="font-family: Arbutus"> WELCOME TO TACOPELLA!</h3>
      <h3 style="font-family: Arbutus"> CHALLENGE YOUR FRIENDS AND BE AWESOME </h3> 

  </div>

  <div class="row">
    <h3 style="font-family: Loved by the King"> What do you want to do? </h3> 
  </div>

  <div class="row">
    <%= link_to "Play a challenge, dude", challenges_path %> <br> 
    <%= link_to "Make a challenge", new_challenge_path %> <br> 
  </div>
</div>