<div class="row">
  <div class="small-2 column"></div>
  <div class="small-8 column">
    <h1>Yehaw! I bet yer friends are gonna have a hard time with that one!</h1>
    <br>
    <h3>Now that you've done all that hard work, isn't it time ya' get ta' playin' some challenges of yer own?!</h3>
  </div>
  <div class="small-2 column"></div>
</div>