<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 id="taco-logo"><%= link_to "TACOPELLA", root_path %> </h1>
    </li>
  </ul>

  <section class="top-bar-section" class="taco-body">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Make a New Challenge", new_challenge_path %> </li>
      <li class="has-dropdown">
          <a href="#">Popular Challenges</a>
        <ul class="dropdown">
          <% @challenges.each do |challenge| %> 
          <li id="taco-body"><%= link_to challenge.name, challenge_path(challenge) %></li>
          <% end %> 
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
<!--     <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>