<div class="off-canvas-wrap">
  <div class="inner-wrap">

    <a class="left-off-canvas-togger"> <Menu></a>

    <aside class="left-off-canvas-menu">
      <ul>
        <li><a href="#"> Challenges </a></li>
        <li><a href="#"> Create </a></li> 
        <li><a href="#"> Scoreboard </a></li>
      </ul>
    </aside>

    <a class="exit-off-canvas"></a>
  </div>
</div>